.contact {
    height: 100vh;
    .wrapper {
        .contactInfo {
            text-align: center;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
            border-bottom: $accentTwo 2px solid;
        }
        .hobbiesAndForm {
            display: flex;
            // justify-content: space-between;
            .hobbies {
                flex-basis: 45%;
                p {
                    padding-bottom: 1rem;
                    span {
                        font-style: italic;
                    }
                }
            }
            .contactForm {
                flex-basis: 45%;
                form {
                    display: flex;
                    flex-direction: column;
                    input {
                        margin-bottom: 1rem;
                        padding: 0.5rem 1rem 0.5rem 0.25rem;
                        outline: none;
                        &::placeholder {
                            text-align: center;
                            color: rgba($color: $primary, $alpha: 0.8);
                        }
                    }
                    textarea {
                        resize: none;
                    }
                    .success {
                        text-align: center;
                        margin-top: 0.5rem;
                        border-radius: 5px;
                        padding: 0.5rem 1rem;
                        background-color: $accentThree;
                        color: black;
                        animation: status 3s forwards;
                    }
                    .error {
                        text-align: center;
                        margin-top: 0.5rem;
                        border-radius: 5px;
                        padding: 0.5rem 1rem;
                        background-color: red;
                        animation: status 3s forwards;

                    }
                }
            }
        }
    }
}

// animation to show success or error upon form submission
@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: all;
    }
}

.mainSocial {
    display: none;
}

// fixed on the left of the page on bigger screens

.socialIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 2%;
    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 200px;
        margin: 0 auto;
        background-color: $accentThree;
    }
    i {
        color: $slate;
        font-size: 1.1rem;
        padding-bottom: 0.8rem;
        position: relative;
        top: 0;
        transition: top ease 0.3s, color ease 0.3s;
        &:hover, &:focus {
            color: $accentThree;
            top: -5px;
        }
    }
}
