header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    &::before {
        position: absolute;
        content: "";
        left: 30%;
        top: 20%;
        width: 450px;
        height: 450px;
        background: #17141d;
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        display: block;
        z-index: -1;
        -webkit-animation: sliderShape 5s linear infinite;
    }
    @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
    }
    h1 {
        padding: 1rem 0;
    }
    .intro {
        color: $accentThree;
    }
    .slogan {
        color: rgba($color: $white, $alpha: 0.7);
    }
    button {
        margin-top: 2rem;
        border: $accentThree solid 1px;
        border-radius: 5px;
        color: $accentThree;
        padding: 0.5rem 1rem;
        transition: background-color 0.2s ease-in;
        &:hover, &:focus {
            background-color: rgba($color: $accentThree, $alpha: 0.2);
        }
    }
}