@media (max-width: 700px) {

    .wrapper {
        width: 85%;
    }

    header {
        // changing position and size of background blob to prevent horizontal scroll
        &::before {
            left: 15%;
        }
    }

    // hamburger menu 
    .headerNav {     
        display: flex;
        justify-content: space-between;
        .defaultNav {
            display: none;
        }
        .navIcon {
            display: block;
            cursor: pointer;
            margin-right: 1.6vw;

        }
        .hamburgerNav { 
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 20;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .closeButton {
                    position: absolute;
                    right: 0.55rem;
                    top: 1.5vh;
                    color: $slate;
                    cursor: pointer;
                    padding: 0.3rem;
                }
                li {
                    font-size: 2rem;
                    padding: 0.3rem 0;
                    a {
                        transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
                        &:hover, &:focus {
                            color: $accentThree;
                            font-size: 2.5rem;
                        }
                        span {
                            color: $accentThree;
                        }
                    }
                }
            }   
            transform: translateX(100vw);
            
            transition: transform 0.4s ease-in-out;
        }
        .showNav {
            transform: none;
        }
        
    }

    .backToTop {
        // the back to top button on the left
        display: none;
    }
   
    .projects {
        ul {
            .projectBox {
                display: block;
                .contentContainer {
                    padding-left: 1rem;
                }
            }
        }
    }

    

    
} // end of media queries for max width - 700px

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
    }

    header {
        // changing position and size of background blob to prevent horizontal scroll
        &::before {
            left: 10%;
            top: 30%;
            width: 235px;
            height: 235px;
        }
    }
    
    .about {
        height: auto;
        .wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            .aboutInfo {
                margin: 2rem 0;
            }
        }
    }

    .mainSocial {
        display: flex;
    }

    .skills {
        height: auto;
        margin: 3rem 0;
        .wrapper {
            .skillList {
                ul {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                }
            }
        }
    }

    .socialIcons {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: inherit; 
        &::after {
            content: none; //removing the line below the social icons
        }
        a {
            // padding: 0 0.5rem;
            i {
                font-size: 2rem;
                transition: top ease 0.3s, color ease 0.3s;
                &:hover, &:focus {
                    color: $accentThree;
                    top: -5px;
                }
            }
        }
    }



    .contact {
        height: auto;
        .wrapper {
            .hobbiesAndForm {
                flex-direction: column;
            }
        }
    }

    footer {
        margin-top: 30px;
    }
    
} // end of media queries for max width - 600px
