.headerNav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navIcon {
        display: none;
    }
    .hamburgerNav {
        display: none;
    }
    
    ul {
        display: flex;
        li {
            margin: 0 0.25rem;
            a {
                border-radius: 5px;
                padding: 0.5rem 1rem;
                color: rgba($color: $white, $alpha: 0.8);
                transition: color 0.3s ease-in-out;
                &:hover, &:focus {
                    color: $accentThree;
                }
                span {
                    font-size: 0.7rem;
                    padding: 0 .25rem 0 0;
                    color: $accentThree;
                }
            }
        }
    }
}


