main {
    .srNumber {
        font-size: 1rem;
        color: rgba($color: $accentThree, $alpha: 0.6);
        padding-right: 0.5rem;
    }
    .fadeIn {
        opacity: 0;
        transition: opacity 0.4s cubic-bezier(1,0,1,.91) ;
    }
    .fadeIn.appear {
        opacity: 1;
    }

}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .imgContainer {
            flex-basis: 29%;
            img {
                object-fit: fill;
                border-radius: 50%;
            }
        }
        .aboutInfo {
            flex-basis: 68%;
            p {
                padding-bottom: 0.5rem;
            }
        }
    }
}

.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    .wrapper {
        .skillInfo {
            text-align: center;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
            border-bottom: $accentTwo 2px solid;
        }
        .skillList {
            ul {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(3, 1fr);
                li {
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    transition: box-shadow 0.3s ease-in-out;
                    &:hover {
                        box-shadow: 2px 0px 13px 0px rgba($color: $accentThree, $alpha: 0.5);
                    }
                    i, span {
                        font-size: 2.5rem;
                        color: rgba($color: $white, $alpha: 0.8);
                        transition: color 0.2s ease-in-out;
                        &:hover, &:focus {
                            color: $accentThree;
                        }
                    }
                    p {
                        padding-top: .5rem;
                    }
                }
            }
        }
    }
}

.projects {
    margin-top: 2rem;
    min-height: 100vh;
    .projectInfo {
        text-align: center;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: $accentTwo 2px solid;
        p {
            padding-bottom: 1rem;
        }
    }
    
    ul {
        .projectBox {
            margin-bottom: 5vh;
            display: flex;
            box-shadow: 0 0 10px $slate;
            .imgContainer {
                background-image: url(../assets/headerBlob.svg);
                height: fit-content;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                flex-basis: 55%;
            }
            .contentContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 2rem 0;
                flex-basis: 43%;
                h3 {
                    padding: 0.25rem 0;
                }
                .subHeading {
                    padding: 0 0 1rem;
                    color: $accentThree;
                    font-size: 0.9rem;
                }
                .description {
                    padding: 0 0 1rem;
                }

                .madeWith{
                    padding: 0 0 0.25rem;
                }
                .skillsApplied {
                    padding: 0 0 1rem;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            padding: 0.5rem 1rem 0 0;
                            color: $accentThree;
                            font-size: 0.8rem;
                        }
                    }
                }
                .projLinks {
                    margin-top: 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        border: $accentThree solid 1px;
                        border-radius: 5px;
                        color: $accentThree;
                        margin: 0.5rem 0.5rem 0 0;
                        padding: 0.5rem 1rem;
                        transition: background-color 0.2s ease-in;
                        &:hover, &:focus {
                            background-color: rgba($color: $accentThree, $alpha: 0.2);
                        }
                    }
                }
            }
        }
    }
}

