html {
    font-size: clamp(1rem, 1.25rem, 3rem);
    // font-size: 125%;

} // making sure the font size is a min of 20px

body {
    font-family:  $body;
    font-weight: normal;
    color: $slate;
}

.logo {
    font-family: $logo;
    font-size: 1.5rem;
    margin-left: 1.6vw;
}

h1, h2, h3, h4 {
    font-family: $headings;
    color: $white;
    margin: 0;
} 

// headings font sizes
h1 {
    // font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 0.5rem;
}

h3 {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 0;
}

// stripping the default styling from list and button elements
ul,
li,
a,
p,
input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    color: $white;
    border: none;
    padding: 0;
    cursor:pointer;
}