// Colours (font/background)
$primary: #0a192f; //navy
$accentOne: #112240; //lighter navy
$accentTwo: #233554; //lightest navy
$accentThree: #64ffda;
$slate: #ccd6f6;
$white: #ffffff;
$black: #000000;

// COLOUR PALETTE - MIGHT USE LATER
// Slate 	        #8892b0
// Light Slate 	    #a8b2d1
// Lightest Slate 	#ccd6f6
// Green 	        #64ffda

// Fonts

$headings: 'Nunito', sans-serif;
$body: 'Open Sans', sans-serif;

