html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 1.25rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #ccd6f6;
}

.logo {
  font-family: "Syne", sans-serif;
  font-size: 1.5rem;
  margin-left: 1.6vw;
}

h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 0.5rem;
}

h3 {
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
}

ul,
li,
a,
p,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#0a192f), color-stop(#233554), to(#0a192f));
  background: linear-gradient(90deg, #0a192f, #233554, #0a192f);
  overflow-x: hidden;
}

button {
  margin-top: 2rem;
  border: #64ffda solid 1px;
  border-radius: 5px;
  color: #64ffda;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
button:hover, button:focus {
  background-color: rgba(100, 255, 218, 0.2);
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.headerNav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerNav .navIcon {
  display: none;
}
.headerNav .hamburgerNav {
  display: none;
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerNav ul li {
  margin: 0 0.25rem;
}
.headerNav ul li a {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.headerNav ul li a:hover, .headerNav ul li a:focus {
  color: #64ffda;
}
.headerNav ul li a span {
  font-size: 0.7rem;
  padding: 0 0.25rem 0 0;
  color: #64ffda;
}

header {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 30%;
}
header::before {
  position: absolute;
  content: "";
  left: 30%;
  top: 20%;
  width: 450px;
  height: 450px;
  background: rgba(204, 214, 246, 0.3);
  border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@-webkit-keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
@keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
header .heading h1 {
  padding: 1rem 0;
}
header .heading .intro {
  color: #64ffda;
}
header .heading .slogan {
  color: rgba(255, 255, 255, 0.7);
}
header .heading a {
  display: inline-block;
  border: #64ffda solid 1px;
  border-radius: 5px;
  color: #64ffda;
  margin: 1rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
header .heading a:hover, header .heading a:focus {
  background-color: rgba(100, 255, 218, 0.2);
}

main .srNumber {
  font-size: 1rem;
  color: rgba(100, 255, 218, 0.6);
  padding-right: 0.5rem;
}
main .fadeIn {
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(1, 0, 1, 0.91);
  transition: opacity 0.4s cubic-bezier(1, 0, 1, 0.91);
}
main .fadeIn.appear {
  opacity: 1;
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper .imgContainer {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
}
.about .wrapper .imgContainer img {
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
}
.about .wrapper .aboutInfo {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}
.about .wrapper .aboutInfo p {
  padding-bottom: 0.5rem;
}

.skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .wrapper .skillInfo {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: #233554 2px solid;
}
.skills .wrapper .skillList {
  scale: 0;
}
.skills .wrapper .skillList ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.skills .wrapper .skillList ul li {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.skills .wrapper .skillList ul li:hover {
  -webkit-box-shadow: 2px 0px 13px 0px rgba(100, 255, 218, 0.5);
          box-shadow: 2px 0px 13px 0px rgba(100, 255, 218, 0.5);
}
.skills .wrapper .skillList ul li i, .skills .wrapper .skillList ul li span {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.skills .wrapper .skillList ul li i:hover, .skills .wrapper .skillList ul li i:focus, .skills .wrapper .skillList ul li span:hover, .skills .wrapper .skillList ul li span:focus {
  color: #64ffda;
}
.skills .wrapper .skillList ul li p {
  padding-top: 0.5rem;
}
.skills .wrapper .skillList.scaleIn {
  scale: 1;
  -webkit-transition: scale 0.4s ease-in;
  transition: scale 0.4s ease-in;
}

.projects {
  margin-top: 2rem;
  min-height: 100vh;
}
.projects .projectInfo {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: #233554 2px solid;
}
.projects .projectInfo p {
  padding-bottom: 1rem;
}
.projects ul .projectBox {
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px #ccd6f6;
          box-shadow: 0 0 10px #ccd6f6;
}
.projects ul .projectBox .imgContainer {
  background-image: url(../assets/headerBlob.svg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.projects ul .projectBox .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}
.projects ul .projectBox .contentContainer h3 {
  padding: 0.25rem 0;
}
.projects ul .projectBox .contentContainer .subHeading {
  padding: 0 0 1rem;
  color: #64ffda;
  font-size: 0.9rem;
}
.projects ul .projectBox .contentContainer .description {
  padding: 0 0 1rem;
}
.projects ul .projectBox .contentContainer .madeWith {
  padding: 0 0 0.25rem;
}
.projects ul .projectBox .contentContainer .skillsApplied {
  padding: 0 0 1rem;
}
.projects ul .projectBox .contentContainer .skillsApplied ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects ul .projectBox .contentContainer .skillsApplied ul li {
  padding: 0.5rem 1rem 0 0;
  color: #64ffda;
  font-size: 0.8rem;
}
.projects ul .projectBox .contentContainer .projLinks {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects ul .projectBox .contentContainer .projLinks a {
  border: #64ffda solid 1px;
  border-radius: 5px;
  color: #64ffda;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.projects ul .projectBox .contentContainer .projLinks a:hover, .projects ul .projectBox .contentContainer .projLinks a:focus {
  background-color: rgba(100, 255, 218, 0.2);
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .wrapper .contactInfo {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: #233554 2px solid;
}
.contact .wrapper .hobbiesAndForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .wrapper .hobbiesAndForm .hobbies {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
.contact .wrapper .hobbiesAndForm .hobbies p {
  padding-bottom: 1rem;
}
.contact .wrapper .hobbiesAndForm .hobbies p span {
  font-style: italic;
}
.contact .wrapper .hobbiesAndForm .contactForm {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.contact .wrapper .hobbiesAndForm .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .wrapper .hobbiesAndForm .contactForm form input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.25rem;
  outline: none;
}
.contact .wrapper .hobbiesAndForm .contactForm form input::-webkit-input-placeholder {
  text-align: left;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form input::-moz-placeholder {
  text-align: left;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form input:-ms-input-placeholder {
  text-align: left;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form input::-ms-input-placeholder {
  text-align: left;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form input::placeholder {
  text-align: left;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form textarea {
  resize: none;
}
.contact .wrapper .hobbiesAndForm .contactForm form textarea::-webkit-input-placeholder {
  text-align: left;
  padding-left: 0.25rem;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form textarea::-moz-placeholder {
  text-align: left;
  padding-left: 0.25rem;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form textarea:-ms-input-placeholder {
  text-align: left;
  padding-left: 0.25rem;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form textarea::-ms-input-placeholder {
  text-align: left;
  padding-left: 0.25rem;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form textarea::placeholder {
  text-align: left;
  padding-left: 0.25rem;
  color: rgba(10, 25, 47, 0.8);
}
.contact .wrapper .hobbiesAndForm .contactForm form .success {
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #64ffda;
  color: black;
  -webkit-animation: status 3s forwards;
          animation: status 3s forwards;
}
.contact .wrapper .hobbiesAndForm .contactForm form .error {
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: red;
  -webkit-animation: status 3s forwards;
          animation: status 3s forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: all;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: all;
  }
}
.mainSocial {
  display: none;
}

.backToTop {
  position: fixed;
  bottom: 3%;
  right: 3%;
}
.backToTop a span {
  color: #ccd6f6;
  font-size: 2.5rem;
  padding-bottom: 0.8rem;
  position: relative;
  top: 0;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
.backToTop a span:hover, .backToTop a span:focus {
  color: #64ffda;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 2%;
}
.socialIcons::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin: 0 auto;
  background-color: #64ffda;
}
.socialIcons a i {
  color: #ccd6f6;
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
  position: relative;
  top: 0;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
.socialIcons a i:hover, .socialIcons a i:focus {
  color: #64ffda;
}

/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com 
 */
.devicons {
  font-family: "devicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicons-git:before {
  content: "\e602";
}

.devicons-git_compare:before {
  content: "\e628";
}

.devicons-git_branch:before {
  content: "\e625";
}

.devicons-git_commit:before {
  content: "\e629";
}

.devicons-git_pull_request:before {
  content: "\e626";
}

.devicons-git_merge:before {
  content: "\e627";
}

.devicons-bitbucket:before {
  content: "\e603";
}

.devicons-github_alt:before {
  content: "\e608";
}

.devicons-github_badge:before {
  content: "\e609";
}

.devicons-github:before {
  content: "\e60a";
}

.devicons-github_full:before {
  content: "\e617";
}

.devicons-java:before {
  content: "\e638";
}

.devicons-ruby:before {
  content: "\e639";
}

.devicons-scala:before {
  content: "\e637";
}

.devicons-python:before {
  content: "\e63c";
}

.devicons-go:before {
  content: "\e624";
}

.devicons-ruby_on_rails:before {
  content: "\e63b";
}

.devicons-django:before {
  content: "\e61d";
}

.devicons-markdown:before {
  content: "\e63e";
}

.devicons-php:before {
  content: "\e63d";
}

.devicons-mysql:before {
  content: "\e604";
}

.devicons-streamline:before {
  content: "\e605";
}

.devicons-database:before {
  content: "\e606";
}

.devicons-laravel:before {
  content: "\e63f";
}

.devicons-javascript:before {
  content: "\e64e";
}

.devicons-angular:before {
  content: "\e653";
}

.devicons-backbone:before {
  content: "\e652";
}

.devicons-coffeescript:before {
  content: "\e651";
}

.devicons-jquery:before {
  content: "\e650";
}

.devicons-modernizr:before {
  content: "\e620";
}

.devicons-jquery_ui:before {
  content: "\e654";
}

.devicons-ember:before {
  content: "\e61b";
}

.devicons-dojo:before {
  content: "\e61c";
}

.devicons-nodejs:before {
  content: "\e619";
}

.devicons-nodejs_small:before {
  content: "\e618";
}

.devicons-javascript_shield:before {
  content: "\e64f";
}

.devicons-bootstrap:before {
  content: "\e647";
}

.devicons-sass:before {
  content: "\e64b";
}

.devicons-css3_full:before {
  content: "\e64a";
}

.devicons-css3:before {
  content: "\e649";
}

.devicons-html5:before {
  content: "\e636";
}

.devicons-html5_multimedia:before {
  content: "\e632";
}

.devicons-html5_device_access:before {
  content: "\e633";
}

.devicons-html5_3d_effects:before {
  content: "\e635";
}

.devicons-html5_connectivity:before {
  content: "\e634";
}

.devicons-ghost_small:before {
  content: "\e614";
}

.devicons-ghost:before {
  content: "\e61f";
}

.devicons-magento:before {
  content: "\e640";
}

.devicons-joomla:before {
  content: "\e641";
}

.devicons-jekyll_small:before {
  content: "\e60d";
}

.devicons-drupal:before {
  content: "\e642";
}

.devicons-wordpress:before {
  content: "\e60b";
}

.devicons-grunt:before {
  content: "\e64c";
}

.devicons-bower:before {
  content: "\e64d";
}

.devicons-npm:before {
  content: "\e61e";
}

.devicons-yahoo_small:before {
  content: "\e62b";
}

.devicons-yahoo:before {
  content: "\e615";
}

.devicons-bing_small:before {
  content: "\e600";
}

.devicons-windows:before {
  content: "\e60f";
}

.devicons-linux:before {
  content: "\e612";
}

.devicons-ubuntu:before {
  content: "\e63a";
}

.devicons-android:before {
  content: "\e60e";
}

.devicons-apple:before {
  content: "\e611";
}

.devicons-appstore:before {
  content: "\e613";
}

.devicons-phonegap:before {
  content: "\e630";
}

.devicons-blackberry:before {
  content: "\e623";
}

.devicons-stackoverflow:before {
  content: "\e610";
}

.devicons-techcrunch:before {
  content: "\e62c";
}

.devicons-codrops:before {
  content: "\e62f";
}

.devicons-css_tricks:before {
  content: "\e601";
}

.devicons-smashing_magazine:before {
  content: "\e62d";
}

.devicons-netmagazine:before {
  content: "\e62e";
}

.devicons-codepen:before {
  content: "\e616";
}

.devicons-cssdeck:before {
  content: "\e62a";
}

.devicons-hackernews:before {
  content: "\e61a";
}

.devicons-dropbox:before {
  content: "\e607";
}

.devicons-google_drive:before {
  content: "\e631";
}

.devicons-visualstudio:before {
  content: "\e60c";
}

.devicons-unity_small:before {
  content: "\e621";
}

.devicons-raspberry_pi:before {
  content: "\e622";
}

.devicons-chrome:before {
  content: "\e643";
}

.devicons-ie:before {
  content: "\e644";
}

.devicons-firefox:before {
  content: "\e645";
}

.devicons-opera:before {
  content: "\e646";
}

.devicons-safari:before {
  content: "\e648";
}

.devicons-swift:before {
  content: "\e655";
}

.devicons-symfony:before {
  content: "\e656";
}

.devicons-symfony_badge:before {
  content: "\e657";
}

.devicons-less:before {
  content: "\e658";
}

.devicons-stylus:before {
  content: "\e659";
}

.devicons-trello:before {
  content: "\e65a";
}

.devicons-atlassian:before {
  content: "\e65b";
}

.devicons-jira:before {
  content: "\e65c";
}

.devicons-envato:before {
  content: "\e65d";
}

.devicons-snap_svg:before {
  content: "\e65e";
}

.devicons-raphael:before {
  content: "\e65f";
}

.devicons-google_analytics:before {
  content: "\e660";
}

.devicons-compass:before {
  content: "\e661";
}

.devicons-onedrive:before {
  content: "\e662";
}

.devicons-gulp:before {
  content: "\e663";
}

.devicons-atom:before {
  content: "\e664";
}

.devicons-cisco:before {
  content: "\e665";
}

.devicons-nancy:before {
  content: "\e666";
}

.devicons-clojure:before {
  content: "\e668";
}

.devicons-clojure_alt:before {
  content: "\e66a";
}

.devicons-perl:before {
  content: "\e669";
}

.devicons-celluloid:before {
  content: "\e66b";
}

.devicons-w3c:before {
  content: "\e66c";
}

.devicons-redis:before {
  content: "\e66d";
}

.devicons-postgresql:before {
  content: "\e66e";
}

.devicons-webplatform:before {
  content: "\e66f";
}

.devicons-jenkins:before {
  content: "\e667";
}

.devicons-requirejs:before {
  content: "\e670";
}

.devicons-opensource:before {
  content: "\e671";
}

.devicons-typo3:before {
  content: "\e672";
}

.devicons-uikit:before {
  content: "\e673";
}

.devicons-doctrine:before {
  content: "\e674";
}

.devicons-groovy:before {
  content: "\e675";
}

.devicons-nginx:before {
  content: "\e676";
}

.devicons-haskell:before {
  content: "\e677";
}

.devicons-zend:before {
  content: "\e678";
}

.devicons-gnu:before {
  content: "\e679";
}

.devicons-yeoman:before {
  content: "\e67a";
}

.devicons-heroku:before {
  content: "\e67b";
}

.devicons-debian:before {
  content: "\e67d";
}

.devicons-travis:before {
  content: "\e67e";
}

.devicons-dotnet:before {
  content: "\e67f";
}

.devicons-codeigniter:before {
  content: "\e680";
}

.devicons-javascript_badge:before {
  content: "\e681";
}

.devicons-yii:before {
  content: "\e682";
}

.devicons-msql_server:before {
  content: "\e67c";
}

.devicons-composer:before {
  content: "\e683";
}

.devicons-krakenjs_badge:before {
  content: "\e684";
}

.devicons-krakenjs:before {
  content: "\e685";
}

.devicons-mozilla:before {
  content: "\e686";
}

.devicons-firebase:before {
  content: "\e687";
}

.devicons-sizzlejs:before {
  content: "\e688";
}

.devicons-creativecommons:before {
  content: "\e689";
}

.devicons-creativecommons_badge:before {
  content: "\e68a";
}

.devicons-mitlicence:before {
  content: "\e68b";
}

.devicons-senchatouch:before {
  content: "\e68c";
}

.devicons-bugsense:before {
  content: "\e68d";
}

.devicons-extjs:before {
  content: "\e68e";
}

.devicons-mootools_badge:before {
  content: "\e68f";
}

.devicons-mootools:before {
  content: "\e690";
}

.devicons-ruby_rough:before {
  content: "\e691";
}

.devicons-komodo:before {
  content: "\e692";
}

.devicons-coda:before {
  content: "\e693";
}

.devicons-bintray:before {
  content: "\e694";
}

.devicons-terminal:before {
  content: "\e695";
}

.devicons-code:before {
  content: "\e696";
}

.devicons-responsive:before {
  content: "\e697";
}

.devicons-dart:before {
  content: "\e698";
}

.devicons-aptana:before {
  content: "\e699";
}

.devicons-mailchimp:before {
  content: "\e69a";
}

.devicons-netbeans:before {
  content: "\e69b";
}

.devicons-dreamweaver:before {
  content: "\e69c";
}

.devicons-brackets:before {
  content: "\e69d";
}

.devicons-eclipse:before {
  content: "\e69e";
}

.devicons-cloud9:before {
  content: "\e69f";
}

.devicons-scrum:before {
  content: "\e6a0";
}

.devicons-prolog:before {
  content: "\e6a1";
}

.devicons-terminal_badge:before {
  content: "\e6a2";
}

.devicons-code_badge:before {
  content: "\e6a3";
}

.devicons-mongodb:before {
  content: "\e6a4";
}

.devicons-meteor:before {
  content: "\e6a5";
}

.devicons-meteorfull:before {
  content: "\e6a6";
}

.devicons-fsharp:before {
  content: "\e6a7";
}

.devicons-rust:before {
  content: "\e6a8";
}

.devicons-ionic:before {
  content: "\e6a9";
}

.devicons-sublime:before {
  content: "\e6aa";
}

.devicons-appcelerator:before {
  content: "\e6ab";
}

.devicons-asterisk:before {
  content: "\e6ac";
}

.devicons-aws:before {
  content: "\e6ad";
}

.devicons-digital-ocean:before {
  content: "\e6ae";
}

.devicons-dlang:before {
  content: "\e6af";
}

.devicons-docker:before {
  content: "\e6b0";
}

.devicons-erlang:before {
  content: "\e6b1";
}

.devicons-google-cloud-platform:before {
  content: "\e6b2";
}

.devicons-grails:before {
  content: "\e6b3";
}

.devicons-illustrator:before {
  content: "\e6b4";
}

.devicons-intellij:before {
  content: "\e6b5";
}

.devicons-materializecss:before {
  content: "\e6b6";
}

.devicons-openshift:before {
  content: "\e6b7";
}

.devicons-photoshop:before {
  content: "\e6b8";
}

.devicons-rackspace:before {
  content: "\e6b9";
}

.devicons-react:before {
  content: "\e6ba";
}

.devicons-redhat:before {
  content: "\e6bb";
}

.devicons-scriptcs:before {
  content: "\e6bc";
}

.devicons-sqllite:before {
  content: "\e6c4";
}

.devicons-vim:before {
  content: "\e6c5";
}

footer {
  margin-top: 50px;
  font-family: "Nunito", sans-serif;
}
footer .topLink {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .topLink a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: #64ffda solid 1px;
  border-radius: 5px;
  color: #64ffda;
  padding: 0.5rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
footer .topLink a:hover, footer .topLink a:focus {
  background-color: rgba(100, 255, 218, 0.2);
}
footer .wrapper {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .wrapper .buildBy {
  padding-bottom: 0.3rem;
}
footer .wrapper .version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .version p {
  font-size: 0.8rem;
  color: #ccd6f6;
  padding-right: 0.5rem;
}
footer .wrapper .version a {
  font-size: 0.6rem;
}
footer .wrapper .version a i {
  position: relative;
  top: 0;
  -webkit-transition: top ease 0.3s;
  transition: top ease 0.3s;
}
footer .wrapper .version a i:hover, footer .wrapper .version a i:focus {
  top: -5px;
}

@media (max-width: 700px) {
  .wrapper {
    width: 85%;
  }
  header::before {
    left: 15%;
  }
  .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 30;
    background: -webkit-gradient(linear, left top, right top, from(#0a192f), color-stop(#233554), to(#0a192f));
    background: linear-gradient(90deg, #0a192f, #233554, #0a192f);
    width: 100%;
    -webkit-box-shadow: 0px 0 10px 0px #ccd6f6;
            box-shadow: 0px 0 10px 0px #ccd6f6;
  }
  .headerNav .defaultNav {
    display: none;
  }
  .headerNav .navIcon {
    display: block;
    cursor: pointer;
    padding: 0.4rem;
  }
  .headerNav .hamburgerNav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #0a192f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .headerNav .hamburgerNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNav .hamburgerNav ul .closeButton {
    position: absolute;
    right: 0.55rem;
    top: 1.5vh;
    color: #ccd6f6;
    cursor: pointer;
    padding: 0.3rem;
  }
  .headerNav .hamburgerNav ul li {
    font-size: 2rem;
    padding: 0.3rem 0;
  }
  .headerNav .hamburgerNav ul li a {
    -webkit-transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  }
  .headerNav .hamburgerNav ul li a:hover, .headerNav .hamburgerNav ul li a:focus {
    color: #64ffda;
    font-size: 2.5rem;
  }
  .headerNav .hamburgerNav ul li a span {
    color: #64ffda;
  }
  .headerNav .showNav {
    -webkit-transform: none;
            transform: none;
  }
  .backToTop {
    display: none;
  }
  .projects ul .projectBox {
    display: block;
  }
  .projects ul .projectBox .contentContainer {
    padding-left: 1rem;
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
  header::before {
    left: 10%;
    top: 30%;
    width: 235px;
    height: 235px;
  }
  .about {
    height: auto;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .about .wrapper .aboutInfo {
    margin: 2rem 0;
  }
  .mainSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .skills {
    height: auto;
    margin: 3rem 0;
  }
  .skills .wrapper .skillList ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .socialIcons {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
  }
  .socialIcons::after {
    content: none;
  }
  .socialIcons a i {
    font-size: 2rem;
    -webkit-transition: top ease 0.3s, color ease 0.3s;
    transition: top ease 0.3s, color ease 0.3s;
  }
  .socialIcons a i:hover, .socialIcons a i:focus {
    color: #64ffda;
    top: -5px;
  }
  .contact {
    height: auto;
  }
  .contact .wrapper .hobbiesAndForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    margin-top: 30px;
  }
}